<!DOCTYPE html>
<html lang="en">
<head>
    <title>NZB Cloud</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Muli:400,800" rel="stylesheet">

</head>
<body background="{{filePath}}/pattern.png" style="background-color: #C9ECFC; background-position: center; background-repeat: no-repeat; font-family: 'Muli', sans-serif; font-size: 18px; color: #2F3339">
    <table style="width: 100%; max-width: 970px; margin: 55px auto">
        <tr>
            <td style="text-align: right; width: 41%"><img src="{{filePath}}/logo.svg" alt="Logo" title="Logo" style="display:block" width="80" height="50"></td>
            <td style="font-size: 32px; color: #12AEF5; text-align: left; width: 50%; padding-left: 17px">NZB Cloud</td>
        </tr>
    </table>
    <table style="width: 100%; max-width: 970px; margin: 0 auto 65px; background: #fff; box-sizing: border-box; padding: 75px 14%">
        <tr>
            <td style="font-size: 42px; color: #12AEF5; text-align: center">Congrats!</td>
        </tr>
        <tr>
            <td style="font-size: 28px; text-align: center; padding: 18px 0">Welcome to the NZB Cloud</td>
        </tr>
        <tr>
            <td style="font-size: 20px; padding: 32px 0; line-height: 2.0">We need to verify your email address before your registration is complete!</td>
        </tr>
        <tr>
            <td style="font-size: 16px; font-weight: 800; background: #12AEF5; border-radius: 2px; text-align: center; text-transform: uppercase">
                <a href="{{activeLink}}" style="color: #fff; text-decoration: none; display: block; padding: 17px 0">Activate account</a>
            </td>
        </tr>
        <tr>
            <td style="padding: 48px 0">
                Or verify your email by the link below:
                <a href="{{activeLink}}" style="display: block; color: #12AEF5; margin-top: 15px">{{activeLink}}</a>
            </td>
        </tr>
        <tr>
            <td>Regards, <br>NZB Cloud.com team</td>
        </tr>
        <tr>
            <td style="text-align: center; padding-top: 73px">
                <a href="#" style="display: inline-block; margin: 0 15px"><img src="{{filePath}}/facebook.svg" alt="Facebook" title="Facebook" style="display:block" width="32" height="32"></a>
                <a href="#" style="display: inline-block; margin: 0 15px"><img src="{{filePath}}/twitter.svg" alt="Twitter" title="Logo" style="display:block" width="32" height="32"></a>
            </td>
        </tr>
    </table>
</body>
</html>