<!DOCTYPE html>
<html lang="en">
<head>
    <title>NZB Cloud</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Muli:400,800" rel="stylesheet">

</head>
<body background="{{filePath}}/pattern.png" style="background-color: #C9ECFC; background-position: center; background-repeat: no-repeat;">
<table style="width: 100%; max-width: 770px; margin: 55px auto; font-family: 'Muli', sans-serif; font-size: 18px; color: #2F3339">
    <tr>
        <td style="text-align: right; width: 41%"><img style="width: 80px; height: 50px; font-size: 32px; color: #12AEF5;" src="{{filePath}}/logo.png" title="Logo" alt="Welcome to the"></td>
        <td style="font-size: 32px; color: #12AEF5; text-align: left; width: 50%; padding-left: 17px">NZB Cloud</td>
    </tr>
</table>
<table style="width: 100%; max-width: 770px; margin: 0 auto 65px; background: #fff; box-sizing: border-box; padding: 60px 7%; font-family: 'Muli', sans-serif; font-size: 18px; color: #2F3339">
    <tr>
        <td style="font-size: 38px; color: #12AEF5; text-align: center">Forgot password?</td>
    </tr>
    <tr>
        <td style="font-size: 20px; padding: 25px 0; line-height: 2.0">If you forgot your password, please just click on the button or following link.</td>
    </tr>
    <tr>
        <td style="font-size: 16px; font-weight: 800; background: #12AEF5; border-radius: 2px; text-align: center; text-transform: uppercase">
            <a href="{{passwordRecoveryLink}}" style="color: #fff; text-decoration: none; display: block; padding: 17px 0">Create new password</a>
        </td>
    </tr>
    <tr>
        <td style="padding: 42px 0">
            Or verify your email by the link below:
            <a title="Click this to check your email" href="{{passwordRecoveryLink}}" style="display: block; color: #12AEF5; margin-top: 15px">{{passwordRecoveryLink}}</a>
        </td>
    </tr>
    <tr>
        <td>Regards, <br>NZB Cloud.com team</td>
    </tr>
    <tr>
        <td style="text-align: center; padding-top: 60px">
            <a href="#" title="facebook" style="display: inline-block; margin: 0 15px"><img alt="Facebook" style="width: 32px; height: 32px;" src="{{filePath}}/facebook.png"></a>
            <a href="#" title="twitter" style="display: inline-block; margin: 0 15px"><img alt="Twitter" style="width: 32px; height: 32px;" src="{{filePath}}/twitter.png"></a>
        </td>
    </tr>
</table>
</body>
</html>